@layer utilities {
  @keyframes shine {
    from {
      background-position: 100%;
    }
    to {
      background-position: -100%;
    }
  }

  .animate-shine {
    animation: shine 5s linear infinite;
  }
}
