@import 'tailwindcss';
@import '../styles/spacing.css';
@import '../assets/fonts/pretendardvariable.css';
@import '../styles/animation.css';
@import '../styles/colors.css';
@import '../styles/tabs.css';
@import '../styles/z-index.css';
@import '../styles/typography.css';
@import '@uiw/react-md-editor/markdown-editor.css';
@import '../styles/markdown.css';
@plugin '@tailwindcss/typography';

:root {
  --background: #0d0e12;
  --foreground: #ffffff;
  --mdeditor-bg: #0d0e12;
  --mdeditor-fg: #ffffff;
}

html {
  font-family: var(--font-pretendard);
  background-color: var(--background);
  color: var(--foreground);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(203, 209, 250, 0.36);
  border-radius: 99px;
}

.shadow-strong-down {
  box-shadow: 0px 12px 50px 0px rgba(0, 0, 0, 0.5);
}
