@import 'tailwindcss';
@import '../styles/colors.css';
@import '../styles/typography.css';

:root {
  --background: #14151a;
  --foreground: #ffffff;
}

html {
  font-family: var(--font-pretendard);
  background-color: var(--background);
  color: var(--foreground);
}
