@import 'tailwindcss';
@import '../styles/colors.css';
@import '../styles/typography.css';
@import '../styles/tabs.css';
@import '../styles/spacing.css';
@import '../styles/z-index.css';

:root {
  --background: #0d0e12;
  --foreground: #ffffff;
}

html {
  font-family: var(--font-pretendard);
  background-color: var(--background);
  color: var(--foreground);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(203, 209, 250, 0.36);
  border-radius: 99px;
}
